body {
    font-family:"Avenir Next";
    background-color: rgb(231, 254, 255);
}
.header-list li {
    font-size: 20px;
    list-style:none;
    float:left;
    padding: 30px 20px 30px 20px;
    color: white;
}
.header {
    background-color:rgb(17, 38, 100);
    height: 80px;
}
#about {
    font-size: 20px;
    list-style:none;
    float:left;
    padding: 30px 20px 30px 20px;
    color: black;
    background-color: rgb(231, 254, 255);
}
.main {
    padding:100px 80px 100px 80px;
}
.copy-container h4 {
    font-size: 60px;
}
.copy-container p {
    font-size:25px;
}
.copy-container img {
    float:right;
    width: 390px;
    height: 550px;
}
.footer {
    background-color:rgb(rgb(255, 255, 255));
    height: 270px;
}
.footer-logo {
    font-size:20px;
}
.footer-logo h3 {
    font-size: 30px;
}
.footer-list li{
    list-style:none;
    color:black;
}
.footer-list img {
    float:left;
    width: 40px;
    height: 40px;
    color: black;
}
.footer-list h4 {
    font-size: 25px;
    padding:10px 10px 10px 50px;
    color: black;
}